*{ 
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;

}
body{
    background: url(images/WhatsApp\ Image\ 2025-11-15\ at\ 21.19.33_faeb4154.jpg);
    color: black;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/WhatsApp\ Image\ 2025-11-15\ at\ 05.32.50_0d27b260.jpg);
    background-size: cover;
    background-position: center ;
}
.container{
    padding: 0 9%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
}
.logo{
    width: 180px;
    

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a {
    color: #080808;
    text-decoration: none;
    font-size: 15px;
    position: relative;

}
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: palevioletred;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s ;

    }
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20px;
    font-size: 30px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideLeft 0.6s ease-out forwards;
    
}
@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.header-text h1 {
    font-size: 40px;
    margin-top: 8px;
}
.header-text h1 span {
    color:brown;
}
#about {
   width: 100%;
    height: 100vh;
    background-image: url(images/WhatsApp\ Image\ 2025-11-15\ at\ 06.06.23_f9903840.jpg);
    background-size: cover;
    background-position: center
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 90px;
}
.about-col2{
    flex-basis:50% ;
    font-size: 18px;

}
.subtitle{
    font-size: 40px;
    font-weight: 600;
    color: black;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    color: brown;
}
.tab-links::after{
    content:'' ;
    width: 0;
    height: 3px;
    background:palevioletred ;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}

.tab-content ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: lightcoral;
    font-size: 14px;
    font-weight: 700;
}
.tab-content{
    display:none ;
}
.tab-content.active-tab{
    display: block;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.service-list div{
    background: white;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 30px;
    transition: background 0.5s , transform 0.5s;

}
.container-new{
    padding: 0 9%;
    background: url(images/WhatsApp\ Image\ 2025-11-15\ at\ 21.19.33_faeb4154.jpg);

}
.newhead{
    color: brown;
}
.service-list div i{
    font-size: 20px;
    margin-bottom: 20px;
    color: palevioletred;
}
.service-list div a{
    text-decoration: none;
    color: lightslategray;
    margin-top: 10px;
    display: inline-block;

}
.service-list div:hover{
    background: rgb(240, 189, 169);
    transform: translateY(-10px);

}
.subtitlenew{
    font-size: 20px;
    font-weight: 600;
    color: black;
    background: white;
    border-radius: 10px;
    margin-top: 80px;
    
}
#portfolio{
    background: url(images/WhatsApp\ Image\ 2025-11-15\ at\ 21.19.33_faeb4154.jpg);
    margin-top: 50px;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(238, 196, 196, 0.8),rgb(238, 125, 125));
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
 justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  color: whitesmoke;
}
.layer a {
    color: lightgray;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
    background: lavenderblush;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition:height 0.5s ;

}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 20px auto;
    width: fit-content;
    font-size: 15px;
    padding: 14px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background: rgb(224, 172, 189);
    transition:background 0.5s ;
    border-color:rgb(224, 172, 189) ;
}
.btn:hover {
    background: brown;
}
.scroll-slide {
    opacity: 0;
    transform: translateX(100px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-slide.show {
    opacity: 1;
    transform: translateX(0);
}
.service-card {
    opacity: 0;
    transform: translateX(-80px);  /* slide from LEFT */
    transition: all 0.7s ease-out;
}

/* when visible */
.service-card.show {
    opacity: 1;
    transform: translateX(0);
}
.fade-up {
    opacity: 0;
    transform: translateY(50px);   /* move DOWN slightly */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
    .contact-left p{
        margin-top: 30px;
        background: url(images/WhatsApp\ Image\ 2025-11-15\ at\ 21.19.33_faeb4154.jpg);
        border-radius: 6px;
        font-size: 15px;
        font-weight: 100;
    }

.contact-left p i{
    color: brown;
    margin-right: 15px;
    font-size: 16px;


}
#contact{
    background-color: white;
    border-radius: 10px;
}
.social-icons a i{
    text-decoration: none;
    font-size: 20px;
    color:gray;
    display: inline-block;
   
    

}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: url(images/WhatsApp\ Image\ 2025-11-15\ at\ 21.19.33_faeb4154.jpg);
    padding:15px ;
    margin: 15px 0;
    color: gray;
    font-size: 18px;
    border-radius: 6px;


}
.slide-up {
    opacity: 0;
    transform: translateY(60px);   /* start LOWER */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-up.show {
    opacity: 1;
    transform: translateY(0);      /* slide UP */
}
/* initial state */
.contact-item {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* final state */
.contact-item.show {
    opacity: 1;
    transform: translateY(0);
}
